.correct,
.incorrect,
.quiz-results {
  display: none;
}

.correct {
  header h2 {
    color: $green;
  }
}

.incorrect {
  header h2 {
    color: $rep-red;
  }
}

.quiz-intro {
  margin-bottom: 2em;
}

.quiz-question {
  border-bottom: 1px solid $tribune-yellow;
  margin-bottom: 1.2em;
  padding: 0 1em;
}

.quiz-results {
  text-align: center;
}

.responses {
  @include clearfix();

  li {
    @include span-columns(6);
    @include omega(2n);
    @include media($default-mobile) {
      @include span-columns(12);
    }

    .subtext {
      display: inline-block;
      margin: 0 0 .25em .5em;
      max-width: 85%;
      vertical-align: middle;
    }

  }
}

.response {
  background-color: $white;
  border: 1px solid $tribune-teal;
  border-radius: 2px;
  margin-bottom: 1em;

  &:hover {
    background-color: transparentize($tribune-teal, .8);
  }

  &.disabled {
    &:hover {
      background-color: $white;
    }
  }
}

.selected {
  background-color: transparentize($tribune-teal, .4);

  &.disabled {
    &:hover {
      background-color: transparentize($tribune-teal, .4);
    }
  }
}

