// @import 'bower_components/newsapps-styles/init-helpers';

@import 'node_modules/newsapps-styles/initialize';
@import 'base';

// Add your SCSS here!

.correct,
.incorrect,
.quiz-results {
  display: none;
}

.correct {
  header h2 {
    color: $green;
  }
}

.footer {
  @extend %font-s;
  background-color: $white;
  color: $text-gray;
  font-family: $base-sans-serif;
  text-align: left;
}

.incorrect {
  header h2 {
    color: $rep-red;
  }
}

.quiz-intro {
  margin-bottom: 2em;
}

.quiz-question {
  border-bottom: 1px solid $tribune-yellow;
  padding: 0 1em;
  margin-bottom: 1.2em;
}

.quiz-results {
  text-align: center;
}

.responses {
  li {
    p.subtext {
      display: inline-block;
    }
  }
}

.response {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid $tribune-teal;
  margin-bottom: 1em;

  &:hover {
    background-color: transparentize($tribune-teal, .8);
  }

  &.disabled {
    &:hover {
      background-color: $white;
    }
  }
}

.selected {
  background-color: transparentize($tribune-teal, .4);

  &.disabled {
    &:hover {
      background-color: transparentize($tribune-teal, .4);
    }
  }
}

.share {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.share-button {
  min-width: 3em;
}
