// @import 'bower_components/newsapps-styles/init-helpers';

@import 'node_modules/newsapps-styles/initialize';
@import 'base';

// Add your SCSS here!

.quiz-question {
  border: 1px solid $tribune-yellow;
  padding: 1em;
  margin-bottom: 1.4em;

}

.correct,
.incorrect,
.quiz-results {
  display: none;
}

.correct {
  header h2 {
    color: $green;
  }
}

.incorrect {
  header h2 {
    color: $rep-red;
  }
}

.quiz-results {
  text-align: center;
}

.response {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid $tribune-teal;
  margin-bottom: 1em;

  &:hover {
    background-color: transparentize($tribune-teal, .8);
  }
}

.selected {
  background-color: transparentize($tribune-teal, .4);

  &:hover {
    background-color: transparentize($tribune-teal, .4);
  }
}
