<!doctype html>
<html lang="en">
<head>
  <META[0] charset="utf-8">
  <META[0] http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META[0].quiz_title }} | The Texas Tribune</title>
  <META[0] name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div id="graphic" class="graphic">
  <header>
    <h2 class="font-xl">{{ META[0].quiz_title }}</h2>
    <span class="subhead">{{ META[0].quiz_intro_md }}</span>
  </header>

  <section class="quiz">

<!-- Question Template: Loops through each question in data.json -->

    {% for question in Quiz %}
    <article id="question-{{ loop.index }}" class="quiz-question">
      <header>
        <h2 class="font-l">{{ question.question }}</h3>
      </header>

      <!--   True/False Question -->
      {% if question.type == "TF" %}
        <div class="responses">
        {% if question.answer == true %}
          <button class="response" value="1">True</button>
          <button class="response" value="0">False</button>
        {% else %}
          <button class="response" value="0">True</button>
          <button class="response" value="1">False</button>
        {% endif %}
        </div>
      {% else %}

      <!--     Multiple Choice Question -->
        <ul class="responses">
          <li>
            {% if question.answer|lower == "a" %}
            <button class="response" value="1">A</button>
            {% else %}
            <button class="response" value="0">A</button>
            {% endif %}
            {{ question.a }}
          </li>
          <li>
            {% if question.answer|lower == "b" %}
            <button class="response" value="1">B</button>
            {% else %}
            <button class="response" value="0">B</button>
            {% endif %}
            {{ question.b }}
          </li>
          <li>
            {% if question.answer|lower == "c" %}
            <button class="response" value="1">C</button>
            {% else %}
            <button class="response" value="0">C</button>
            {% endif %}
            {{ question.c }}
          </li>
          <li>
            {% if question.answer|lower == "d" %}
            <button class="response" value="1">D</button>
            {% else %}
            <button class="response" value="0">D</button>
            {% endif %}
            {{ question.d }}
          </li>
        </ul>
      {% endif %}

      <!--     Answer Feedback   -->
      <div class="correct">
        <header>
          <h2 class="font-m">Correct!</h2>
        </header>
        {{ question.correct_response_md }}
      </div>
      <div class="incorrect">
        <header>
          <h2 class="font-m">Wrong</h2>
        </header>
        {{ question.incorrect_response_md }}
      </div>
    </article>
    {% endfor %}
  </section>

  <!-- Quiz Results -->
  <section id="quiz-results" class="quiz-results">
    <header>
      <h2 class="font-xl">You scored <span id="score"></span> of <span id="total-questions"></span>!</h2>
    </header>
  </section>

</div>

<div class="footer">
  <ul>
    {% if META[0].source %}<li>Source: {% if META[0].source_url %}<a href="{{ META[0]. source_url }}">{{ META[0].source }}</a>{% else %}{{ META[0].source }}{% endif %}</li>{% endif %}
    {% if META[0].credit %}<li>Credit: {{ META[0].credit }}</li>{% endif %}
  </ul>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/pym.js/dist/pym.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
