<!doctype html>
<html lang="en">
<head>
  <META charset="utf-8">
  <META http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META[0].quiz_title }} | The Texas Tribune</title>
  <META name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div id="graphic" class="graphic">
  <header>
    <h2 class="font-xl">{{ META[0].quiz_title }}</h2>
    <span class="subhead">{{ META[0].quiz_intro_md }}</span>
  </header>

  <section class="quiz">

<!-- Question Template: Loops through each question in data.json -->

    {% for question in Quiz %}
    <article id="{{ question.id }}" class="quiz-question">
      <header>
        {{ question.text_md }}
      </header>
      <section class="options">
        {% if question.a_option_md %}
        <label class="option" data-link="{{ question.a_next }}">
          <button class="response"><i class="fa fa-circle-thin"></i><i class="fa fa-check-circle"></i></button>
          {{ question.a_option_md }}
        </label>
        {% endif %}
        {% if question.b_option_md %}
        <label class="option" data-link="{{ question.b_next }}">
          <button class="response"><i class="fa fa-circle-thin"></i><i class="fa fa-check-circle"></i></button>
          {{ question.b_option_md }}
        </label>
      {% endif %}
      {% if question.img %}
      <figure class="image">
        <img src="assets/images/{{ question.img }}">
      </figure>
      {% endif %}
      </section>
    </article>
    {% endfor %}
  </section>
</div>
<footer class="footer">
  <ul>
    {% if META[0].source %}<li>Source: {% if META[0].source_url %}<a href="{{ META[0]. source_url }}">{{ META[0].source }}</a>{% else %}{{ META[0].source }}{% endif %}</li>{% endif %}
    {% if META[0].credit %}<li>Credit: {{ META[0].credit }}</li>{% endif %}
  </ul>
</footer>


<!-- build:js scripts/main.min.js -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/pym.js/dist/pym.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
