<!doctype html>
<html lang="en">
<head>
  <META[0] charset="utf-8">
  <META[0] http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META[0].quiz_title }} | The Texas Tribune</title>
  <META[0] name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div id="graphic" class="graphic">
  <header>
    <h2 class="font-xl">{{ META[0].quiz_title }}</h2>
    <span class="subhead">{{ META[0].quiz_intro_md }}</span>
  </header>

  <section class="quiz">

<!-- Question Template: Loops through each question in data.json -->

    {% for question in Quiz %}
    <article id="{{ question.id }}" class="quiz-question">
      <header>
        <h2 class="font-l">{{ question.text }}</h3>
      </header>
      <section class="options">
        {% if question.a_option %}
        <div class="option">
          <button class="response" data-link="{{ question.a_next }}">&nbsp;</button>
          {{ question.a_option }}
        </div>
        {% endif %}
        {% if question.b_option %}
        <div class="option">
          <button class="response" data-link="{{ question.b_next }}">&nbsp;</button>
          {{ question.b_option }}
        </div>
      {% endif %}
      </section>
    </article>
    {% endfor %}
  </section>

  <!-- Quiz Results -->
  <section id="quiz-results" class="quiz-results">
    <header>
      <h2 class="font-xl">You scored <span id="score"></span> of <span id="total-questions"></span>!</h2>
    </header>
  </section>

</div>

<div class="footer">
  <ul>
    {% if META[0].source %}<li>Source: {% if META[0].source_url %}<a href="{{ META[0]. source_url }}">{{ META[0].source }}</a>{% else %}{{ META[0].source }}{% endif %}</li>{% endif %}
    {% if META[0].credit %}<li>Credit: {{ META[0].credit }}</li>{% endif %}
  </ul>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/pym.js/dist/pym.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
